//////////////////////////////////////////////////
/////   Container layout width   ////////////////
////////////////////////////////////////////////

.container-fluid {
    max-width: 1600px;
    padding: 0 4%;
}

//////////////////////////////////////////////////////////////
/////   Theme colors   //////////////////////////////////////
////////////////////////////////////////////////////////////

$main: #1082ce;
$maind: darken(#1082ce, 10%);
$main2: #5802A2;
$txt3: #29332b;
$txt: #333333;
$txt2: #808080;
$black1: #02060e;

$red : #e91348;
$orange : #f1481d;
$purple : #80248d;
$blue : #1082ce;
$green : #40b83c;
$yellow : #fbc109;


// Font Variables
$eng1: 'Roboto',
    sans-serif;
$eng2: 'Roboto Condensed',
    sans-serif;
$eng3: 'Poppins',
    sans-serif;



body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    color: $txt;
    font-family: $eng1;
    font-weight: 400;
    font-size: 14px;
    background: #f7f7f7;

    // font-size: clamp(24px, calc(24px * 1vw), 36px);
    line-height: 1.6;
}

a {
    color: unset;
    text-decoration: none;
    // margin-bottom: -5px;

    &:focus,
    &:hover {
        color: unset;
        text-decoration: none;
        transition: all 0.2s linear;
    }

    &:focus {
        outline: 0;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.textwrap {
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-main {
    color: $main;
}

.btn {
    border-radius: 0;

    &:active,
    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }

}

.btn-main {
    border-radius: 0;
    background: none;
    border: 2px solid #edf5ff;
    color: $main;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;


    &:active,
    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }


    &:hover {
        background: $maind;
        border: 2px solid $maind;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
        box-shadow: 0px 1px 1px 0px $maind !important;
    }
}

.btn-main2 {
    border-radius: 0;
    border: 2px solid #edf5ff;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    background: $maind;
    color: #fff;


    &:active,
    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }


    &:hover {
        background: none;
        color: $main;
        border: 2px solid $maind;
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
        box-shadow: 0px 1px 1px 0px $maind !important;
    }
}


.form-control,
.form-select {
    border-radius: 0px;

    &:focus {
        box-shadow: none !important;
    }

}

.default-btn {
    padding: 8px 20px 7px;
    background-color: $main;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
    margin-right: auto;
    // width: 100%;

    &:hover {
        background-color: $maind;
        color: #fff;
        border: 1px solid $main;
    }
}

//long words eg urls
.wordwrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}




//////////////////////////////////////////////////////////////
/////   NAVBAR   ////////////////////////////////////////////
////////////////////////////////////////////////////////////

.topbar {
    background: $main;
    padding: 8px 5px 5px 5px;

    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: #fff;
            font-weight: 300;

            &:hover {
                color: #c4c4c4;
            }
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                font-size: 1.2em;
                margin-right: 6px;
            }
        }

        .offer a {
            font-weight: 500;
            font-size: .9em;

            text-decoration: underline;
            letter-spacing: .5px;
        }

        .help a {
            font-size: .9em;

            font-weight: 500;
            margin-left: 6px;
        }
    }
}

.mainnav {
    background: #fff;

    .navbar-brand {
        max-width: 250px;
        min-width: 250px;
        // min-width: 100px;
        margin-right: 50px;
        padding: 13px 0;

        @media(max-width: 500px) {
            min-width: 150px;
            max-width: 150px;
        }

        img {
            width: 100%;
        }
    }

    .navbar-toggler {
        background: $main;

        &:hover {
            background: $main;
        }
    }

    .collapsing {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
        visibility: hidden;
    }

    .collapse {
        // display: flex;
        flex-direction: column;

        .upper {
            display: flex;
            align-items: center;
            width: 100%;

            .search-bar-nav {
                display: flex;
                border-radius: 5px;
                width: 100%;
                padding: 20px 0;

                button {
                    margin-left: -43px;
                }
            }

            .user-nav-btn {
                margin-left: 40px;
                display: flex;

                a {
                    i {
                        color: $txt;
                        margin: 2px 13px;
                        font-size: 2em;
                        position: relative;

                        span {
                            font-family: $eng2;
                            font-size: 14px;
                            height: 20px;
                            width: 20px;
                            border-radius: 100%;
                            background: $red;
                            position: absolute;
                            color: #fff;
                            top: -12px;
                            right: -12px;
                            text-align: center;
                            padding-top: 4px;
                        }
                    }
                }
            }
        }

        .navbar-nav {
            width: 100%;
            justify-content: flex-start;

            @media (max-width: 1200px) and (min-width: 992px) {
                max-width: 700px;
                overflow-x: scroll;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
            }

            .nav-item {
                .nav-link {
                    padding: 5px 20px 20px 20px;
                    font-family: $eng3;
                    color: $txt;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                    font-weight: 600;

                    &.active {
                        color: $main;
                    }

                    &:hover {
                        color: $maind;
                    }
                }
            }

        }
    }
}

@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;


        &.show {
            min-height: 90vh;
        }
    }
}





//////////////////////////////////////////////////////////////
/////   FOOTER   ////////////////////////////////////////////
////////////////////////////////////////////////////////////

.footer-features {
    background: #dfdfdf;
    padding: 50px 0;
    margin-top: 50px;

    .f-box {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 3em;
            margin-right: 10px;
            color: #000;
        }

        span {
            font-size: 1.2em;
            max-width: 170px;
            line-height: 1.2;
            font-weight: 300;
            color: #000;
        }
    }
}

.footer-newsletter {
    background: #ebebeb;
    padding: 50px 0 30px 0;
    text-align: center;

    h4 {
        text-transform: uppercase;
        font-family: $eng3;
        color: #000;
        font-size: 2.7em;

        span {
            color: $main;
        }
    }


    .newsletter-input {
        display: flex;
        justify-content: center;
        max-width: 700px;
        margin: auto;
        padding-top: 10px;

        input {
            background: #fff;
            border: 1.5px solid #000;
            padding: 8px 15px;
            border-radius: 0;

            &::placeholder {
                color: #b6b6b6;
            }

        }

        button {
            margin-left: 10px;
            background: #000;
            color: #fff;
            font-family: $eng3;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 7px 20px;

            &:hover {
                color: $black1;
            }
        }
    }
}

.list-footer {
    background: #ebebeb;
    padding-bottom: 50px;

    h3 {
        font-size: 1em;
        letter-spacing: .05em;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 8px;
        margin: 0;
        font-family: $eng3;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            a {
                display: inline-block;
                padding: 3px 0;
                line-height: 22px;
                font-size: .9em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer-end {
    background: rgb(2, 7, 0);
    padding: 20px 0 20px 0;

    h4 {
        font-size: .9em;
        color: #858585;
        margin-bottom: 0;

        span {
            color: $main;
        }
    }

    p {
        font-size: .8em;
        margin: 0;
        color: #858585;
    }

    img {
        display: block;
        margin-left: auto;
        height: 25px;
    }

}


//////////////////////////////////////////////////////////////
/////   SIGN IN AND REGISTER   //////////////////////////////
////////////////////////////////////////////////////////////

.sign-body {
    margin-bottom: -50px;
    background: #f3f3f3;

    .sign-container {
        padding: 50px 0;

        .bg {
            // color: #fff;
            padding: 50px;

            border-right: 5px solid #f3f3f3;
            border-left: 5px solid #f3f3f3;

            .card-title {

                span {
                    font-size: 30px;
                    color: $main;
                }
            }
        }

        .card-title {
            margin-bottom: 12px;
            font-family: $eng2;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .container-box {
            max-width: 900px;
            margin: auto;
            height: 100%;
            // min-height: 500px;
            overflow: hidden;
            background: #fff;
            // box-shadow: 0 10px 30px 0 rgba(78, 78, 78, 0.671);

            .card-box {
                flex-grow: 1;
                overflow: auto;
                // background: #fff;
                padding: 30px 30px 30px;
                border: 0;
                overflow: hidden;

                .card-body {
                    text-align: center;

                    .box-logo {
                        margin-bottom: 20px;

                        .logo {
                            height: 150px;
                        }
                    }

                    form {
                        max-width: 326px;
                        margin: auto;
                        margin-top: 20px;

                        label {
                            display: none;
                        }

                        .form-group {
                            margin-bottom: 10px;

                            .form-control {
                                border: 1px solid #d5dae2;
                                padding: 5px 15px;
                                // min-height: 45px;
                                font-size: 13px;
                                font-weight: normal;
                                border-radius: 0;

                                &::placeholder {
                                    color: #919aa3;
                                }

                                &:focus {
                                    border: 1px solid #c8ccd1;
                                    box-shadow: none;
                                }

                                &.error {
                                    border: 1px solid rgb(255, 58, 58);
                                }
                            }
                        }

                        small {
                            float: left;
                            color: rgb(255, 58, 58);
                            padding: 0 5px;
                        }

                        .login-btn {
                            padding: 8px 20px 7px;
                            background-color: $main;
                            border-radius: 4px;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 20px;
                            text-transform: uppercase;
                            color: #fff;
                            margin-bottom: 24px;
                            margin-right: auto;
                            // width: 100%;

                            &:hover {
                                background-color: $maind;
                                border: 1px solid $main;
                            }
                        }
                    }

                    .forgot-password-link {
                        font-family: $eng2;
                        font-size: 14px;
                        color: #919aa3;
                        font-weight: 500;
                        margin-bottom: 12px;
                    }

                    .already-text {
                        font-family: $eng2;
                        font-weight: 500;
                        font-size: 15px;
                        margin-bottom: 20px;

                        @media (max-width: 768px) {
                            margin-bottom: 24px;
                        }

                        a {
                            font-weight: 600;
                        }

                        a:hover {
                            color: $main;
                        }

                        &+.already-text {
                            margin-bottom: 60px;
                        }
                    }

                    .login-card-footer-nav {
                        a {
                            font-size: 14px;
                            color: #919aa3;
                        }
                    }

                }
            }

            @media (max-width:768px) {
                flex-wrap: wrap;

                .form-box {
                    width: 100%;
                }
            }
        }

    }


}


//////////////////////////////////////////////////////////////
/////   EVENT LIST   ////////////////////////////////////////
////////////////////////////////////////////////////////////
.event-search {
    margin-top: 40px;
    margin-bottom: 20px;

    .row {
        padding: 15px 10px 5px 10px;
        border: 1px solid#ececec;
        background: #fff;
        margin: 0;
        // box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1) !important;

        .col-12 {
            margin: 0;
            padding: 5px;

            .input-group {

                .input-group-text {
                    border-radius: 0;
                    color: $maind;
                    background-color: #fff;
                    // margin-bottom: 10px;
                }
            }

            .btn-main {
                background: $main;
                color: #fff;
                margin-right: 0;

                &:hover {
                    background: $maind;
                }
            }

        }
    }
}

.event {
    .col-12 {
        margin-bottom: 20px;
    }

    .event-list-content {
        overflow: hidden;
        padding: 30px;
        position: relative;
        border: 1px solid #ececec;
        transition: all 0.3s ease 0s;
        margin-bottom: 20px;
        // box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1) !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;


        @media (max-width: 576px) {
            padding: 10px;
        }

        &:hover {
            border: 1px solid hwb(213 73% 0%);
        }

        h2 {
            margin-bottom: 20px;
            color: $blue;
            margin-top: 0px;
            font-style: normal;
            font-weight: bold;
            text-transform: normal;
            font-size: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* Number of lines to show */
            -webkit-box-orient: vertical;
        }

        ul {
            li {
                display: inline-block;
                // font-size: 16px;
                margin-right: 20px;
                margin-bottom: 20px;

                i {
                    color: $orange;
                    margin-right: 5px;
                }
            }
        }

        .btn {
            margin-top: auto !important;
            display: block;
            width: fit-content;
        }

    }
}



//////////////////////////////////////////////////////////////
/////   EVENT VIEW   ////////////////////////////////////////
////////////////////////////////////////////////////////////

.event-banner {
    height: 40vh;
    background: $main;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.event-container {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;

    .event-block {
        margin: 20px 0;

        h1 {
            margin-bottom: 20px;
            color: $blue;
            margin-top: 0px;
            font-style: normal;
            font-weight: bold;
            text-transform: normal;
        }



    }

    .apply-block {

        .subtitle,
        h4 {
            color: $blue;
            margin: 0;
        }

        h4 {
            color: $maind;
        }

        .socials {
            li {
                margin: 0 7px 0 7px;

                i {
                    font-size: 18px;
                    color: $orange;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }

}



.form-container {
    background: #fff;
    border: 2px solid #edf5ff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;

    .form-content {
        margin: 0;

        &>* {
            padding-right: 0;
            padding-left: 0;
        }

        .form-floating {
            margin-bottom: 15px;
            padding-right: 7.5px;
            padding-left: 7.5px;

            label {
                padding: 1rem 1.25rem;
                left: 1px;

            }
        }

        .btn-main,
        .btn-main2 {
            padding: 10px 15px;
            width: fit-content;
        }
    }
}







.profile-container {
    margin: 30px 0 60px 0;

    .profile-top-layout {
        align-items: center;
        display: flex;
        justify-content: center;

        .profile-info {
            border: 1px solid rgb(228, 228, 228);
            background: #fff;
            border-radius: 25px 25px 0px 0;
            margin-top: 40px;
            padding: 20px 30px 30px 35px;
            position: relative;
            width: 100%;

            .profile-picture {
                background: #ffffff;
                border-radius: 100px;
                border: 10px solid #ffffff;
                height: 125px;
                position: absolute;
                top: -30px;
                width: 125px;

                &:before {
                    border-radius: 100px;
                    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
                    content: "";
                    height: calc(100% + 20px);
                    left: -10px;
                    position: absolute;
                    top: -10px;
                    width: calc(100% + 20px);
                    z-index: -1;
                }

                img {
                    border-radius: 100px;
                    height: 100%;
                    width: 100%;
                }
            }

            .profile-header {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;

                .profile-account {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    justify-content: flex-start;
                    padding-left: 135px;

                    .profile-username {
                        font-weight: 600;
                        font-size: 28px;
                        margin: 0;
                        text-align: left;
                    }

                    .profile-email {
                        @extend .wordwrap;
                        color: darken($main, 20%);
                        font-family: $eng2;
                        font-weight: 400;
                    }
                }

                .profile-edit {
                    flex: none;
                    margin-left: 30px;
                    width: 140px;

                    .profile-button {
                        border-radius: 50px;
                        border: 1px solid #000;
                        background: rgb(255, 255, 255);
                        text-transform: uppercase;
                        color: #000;
                        display: block;
                        font-size: 13px;
                        padding: 10px;
                        text-align: center;
                        text-decoration: none;
                        letter-spacing: 1px;
                        transition: ease-in-out 250ms background, ease-in-out 250ms color;

                        &:hover {
                            background: $main;
                            border: 1px solid $main;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    .profile-sidebar-container {
        border: 1px solid rgb(228, 228, 228);
        background: #fff;
        height: 100%;

        .profile-sidebar {
            padding: 0px 0 10px 0;

            .profile-usermenu {
                .nav-title {
                    &:not(:first-child) {
                        margin: 30px 0 0px 0;
                    }

                    h2 {
                        background: rgb(228, 228, 228);
                        padding: .5rem .5rem;
                        font-size: .8rem;
                        margin: 0px 0 0px 0;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }

                ul li {
                    border-bottom: 1px solid #f0f4f7;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        color: #666;
                        font-size: 14px;
                        line-height: 17px;

                        i {
                            margin-right: 8px;
                            font-size: 14px;
                        }

                        &:hover {
                            background-color: #fafcfd;
                            color: $main;
                        }
                    }

                    &.active {
                        border-bottom: none;

                        a {
                            color: $main;
                            background-color: #f6f9fb;
                            border-left: 2px solid $main;
                            margin-left: -2px;
                        }
                    }
                }
            }
        }
    }

    .profile-content {
        padding: 20px;
        border: 1px solid rgb(228, 228, 228);
        background: #fff;
        min-height: 460px;
        overflow: hidden;

        .content-title {

            h2 {
                background: rgb(228, 228, 228);
                padding: 10px 15px;
                margin: -20px -20px 15px -20px;
                font-size: 1.5em;
                font-weight: 900;
                font-family: $eng2;
                letter-spacing: .5px;
                text-transform: uppercase;
            }

            h4 {
                margin-bottom: 20px;
                font-size: 18px;
                padding: 1px 2px;
                display: block;
                font-family: $eng3;
                width: 100%;
                font-size: 1em;
                text-transform: uppercase;
                line-height: inherit;
                border: 0;
                border-bottom: 1px solid #8f8f8f;
            }

        }

        .form-control {
            border: 1px solid #d5dae2;
            padding: 5px 15px;
            font-size: 13px;
            // line-height: 15;
            font-weight: normal;
            border-radius: 1px;

            &::placeholder {
                color: #919aa3;
            }

            &:focus,
            &:hover {
                border: 1px solid #afb2b6;
                box-shadow: none;
            }

        }

        .default-btn {
            margin-top: 10px;
        }

        //address
        .btn-add {
            position: relative;
            cursor: pointer;
            padding: 0px 0px 0px 5px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            outline: none;
            transition: all 0.3s;
            border-radius: 5px;
            overflow: hidden;
            border: 2px solid lighten($main, 20%);
            background: lighten($main, 10%);
            color: #fff;
            margin-bottom: 20px;

            .fa {
                height: 100%;
                transition: all 0.3s;
                opacity: 1;
                background: $main;
                color: #fff;
                padding: 20px;
            }

            &:hover {
                border: 2px solid lighten($main, 10%);
                background: $main;
                color: #fff;

                .fa {
                    background: darken($main, 5%);
                }
            }

            &:active {
                border: 2px solid darken($main, 5%);
                background: $main;
                color: #fff;
                box-shadow: none;

                .fa {
                    background: $main;
                }
            }

        }

        .address-table {
            // margin-bottom: 40px;

            .address-row {
                border-radius: 5px;



                margin: 0;

                .address {
                    strong {
                        font-weight: 600;
                        font-size: 17px;
                    }

                    font-size: 14px;


                }

                .address-btns {
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;


                    .btn {
                        margin-bottom: 5px;
                        margin-left: 5px;
                        width: auto;
                        display: block;
                        padding: 0px 0px 0px 0px;
                        display: flex;
                        align-items: center;
                        height: 35px;
                        border: none;


                        span {
                            padding: 5px 10px;
                            line-height: 1;
                        }

                        .fa,
                        .far {
                            height: 100%;
                            transition: all 0.3s;
                            opacity: 1;
                            color: #fff;
                            padding: 10px;
                            background: rgba(0, 0, 0, 0.15);
                        }

                        &:hover {
                            color: #fff;
                        }

                        &:active,
                        &:focus {
                            color: #fff;
                            box-shadow: none;
                        }
                    }

                    .btn-outline-info {
                        border: 1px solid #17a2b8;
                    }
                }
            }
        }

        .add-address-form {
            padding: 7px;
            border-left: 5px solid #e50914;
            border-radius: 6px;

        }

        //orders
        .orders-container {
            margin-bottom: 40px;

            .orders-row {
                justify-content: space-between;

                .input-group {
                    margin-bottom: 30px;
                    display: flex;

                    .input-group-prepend .input-group-text {
                        background: $main;
                        color: #fff;
                        border: none;
                        height: 100%;
                    }

                    .input-group-append .btn {
                        border: none;
                        background: $main;
                        color: #fff;

                        &:hover {
                            background: darken($main, 10%);
                            color: lighten($main, 40%);
                        }

                        &:active,
                        &:focus {
                            background: darken($main, 15%);
                            color: #fff
                        }
                    }

                    .custom-select {
                        &.nice-select {
                            border-width: 1px;
                            width: 200px;
                            margin-top: auto;
                            height: 30px;
                        }

                        &.nice-select .list {
                            border-radius: 0px;
                            top: 100%;
                            width: 100%;
                            z-index: 9;
                        }

                        span {
                            margin-top: -5px;
                            display: block;
                        }
                    }

                    .custom-select,
                    .form-control {
                        border-radius: 0;
                        padding: 2px 8px;
                        font-size: 14px;

                        &:hover,
                        &:focus,
                        &:active {
                            box-shadow: none;
                            border: 1px solid lighten($main, 30%);
                        }
                    }

                    .input-group-prepend,
                    .input-group-append {
                        padding: 0px;

                        .input-group-text,
                        .btn {
                            font-size: 14px;
                            border-radius: 0;

                            &:hover,
                            &:focus,
                            &:active {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

            .order-item {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                .order-info {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 1vh;
                    height: 100%;

                    h5 {
                        font-family: $eng2;
                        font-weight: 600;
                        font-size: 1em;
                        margin: 0;

                        span {
                            color: $main;
                            font-weight: 800;

                        }
                    }

                    h6 {
                        font-family: $eng2;
                        font-size: 13.4px;
                        margin: 0;
                        color: rgb(117, 117, 117);

                        span {
                            color: darken($main, 5%);
                            font-size: 15px;
                            font-family: $eng2;
                            text-decoration: underline;
                        }
                    }

                    .btn-manage {
                        margin: 5px 0 5px auto;
                        padding: 2px 20px;
                        letter-spacing: .5px;
                        font-weight: 500;
                        background: rgb(233, 233, 233);
                        border: 1px solid rgb(230, 230, 230);
                        font-size: .8em;

                        &:hover {
                            border: 1px solid rgb(255, 255, 255);
                            background: rgb(236, 236, 236);
                        }
                    }

                }

                h6 {
                    margin-top: 5px;

                    a {

                        &:hover {
                            color: $main;
                        }
                    }

                }

                .order-img {
                    display: flex;
                    padding: 5px;
                    height: 100%;
                    width: max-content;

                    img {
                        max-height: 50px;
                    }


                }

                .specs {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        font-size: 11px;
                        padding-left: 5px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                        border-left: 2px solid $main;
                        border-radius: 2px;
                    }

                }

                .order-num {
                    padding: 5PX;
                    height: max-content;

                    .order-qty {
                        span {
                            color: rgb(148, 148, 148);
                            font-size: 13px;
                        }

                        strong {
                            font-weight: 400;
                            color: $main;
                        }
                    }

                    .order-price {
                        span {
                            color: rgb(148, 148, 148);
                            font-size: 13px;
                        }

                        strong {
                            font-weight: 400;
                            color: $main;
                        }
                    }

                    .order-total {
                        // border-top: 2px solid rgb(207, 207, 207);
                        display: inline-block;

                        span {
                            // color: rgb(148, 148, 148);
                            font-size: 14px;
                        }

                        strong {
                            font-weight: 400;
                            font-size: 18px;

                            color: $main;
                        }
                    }
                }

                .order-status {
                    padding: 5px;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 15px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    @media (max-width:768px) {
                        height: auto;
                        // flex-direction: column;
                        justify-content: space-between;

                    }
                }

                &:hover {
                    .order-info {
                        background: rgb(246, 246, 246);
                    }
                }
            }

        }

        //orders manage
        .orders-manage-container {
            margin-bottom: 40px;

            .order-item {
                margin-bottom: 20px;

                .order-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 2vh;
                    height: 100%;

                    h5 {
                        font-family: $eng2;
                        font-weight: 600;
                        font-size: 20px;
                        margin: 0;

                        span {
                            color: $main;
                        }
                    }

                    h6 {
                        font-family: $eng2;
                        font-size: 13.4px;
                        margin: 0;
                        color: rgb(117, 117, 117);

                        span {
                            color: darken($main, 5%);
                            font-size: 15px;
                            font-family: $eng2;
                            text-decoration: underline;
                        }
                    }

                    .order-total {
                        display: inline-block;

                        span {
                            color: rgb(148, 148, 148);
                            font-size: 15px;
                        }

                        strong {
                            font-size: 18px;
                            font-weight: 400;
                            color: $main;
                        }
                    }


                }

                .order-img {
                    display: flex;
                    padding: 2vh;
                    height: 100%;

                    img {
                        max-height: 90px;
                    }

                    h6 {
                        a {
                            font-family: $eng2;
                            padding: 5px;
                            font-weight: 500;
                            margin: 0;
                            color: rgb(98, 98, 98);

                            &:hover {
                                color: $main;
                            }
                        }
                    }
                }

                .order-num {
                    padding: 2vh;
                    height: 100%;

                    .order-qty {
                        span {
                            color: rgb(148, 148, 148);
                            font-size: 13px;
                        }

                        strong {
                            font-weight: 400;
                            color: $main;
                        }
                    }

                    .order-price {
                        span {
                            color: rgb(148, 148, 148);
                            font-size: 13px;
                        }

                        strong {
                            font-weight: 400;
                            color: $main;
                        }
                    }

                }

                .order-status {
                    padding: 2vh;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 15px;
                    align-items: center;
                    justify-content: end;
                    float: right;
                    text-align: right;
                }
            }

            h5.border-bottom {
                padding: 2vh;
                font-weight: 600;
                font-size: 20px;
                font-family: $eng2;
                margin: 0
            }

            .order-track {
                display: flex;
                flex-direction: column;
                transition: all .3s height 0.3s;
                transform-origin: top center;

                .steps {
                    padding: 2vh;

                    .order-track-step {
                        display: flex;
                        height: 7rem;

                        &:last-child {
                            overflow: hidden;
                            height: 3rem;
                        }

                        .order-track-status {
                            margin-right: 1.5rem;
                            position: relative;

                            .order-track-status-dot {
                                display: block;
                                width: 1.5rem;
                                height: 1.5rem;
                                border-radius: 50%;
                                background: rgb(209, 209, 209);
                                left: 4px;
                                position: absolute;

                                i {
                                    display: none;
                                    color: #fff;
                                    padding: 9px;
                                    font-size: 15px;
                                }
                            }

                            .order-track-status-line {
                                display: block;
                                z-index: -1;
                                margin: 0 auto;
                                width: 2px;
                                height: 7rem;
                                position: absolute;
                                left: 15px;
                                background: rgb(209, 209, 209);
                            }
                        }

                        .order-track-text {
                            margin-left: 15px;

                            .order-track-text-stat {
                                font-weight: 500;
                                margin-bottom: 0px;
                                line-height: 16px;
                                font-size: 16px;
                            }

                            .order-track-text-sub {
                                font-weight: 300;
                                font-size: 13px;
                                line-height: 13px;
                                display: block;
                            }
                        }
                    }

                    .order-track-step.active {

                        .order-track-status {

                            .order-track-status-dot {
                                background: $main;
                                width: 2rem;
                                height: 2rem;
                                left: 0px;

                                i {
                                    display: block;
                                }

                            }

                            .order-track-status-line {
                                background: $main;
                            }
                        }

                        .order-track-text {

                            .order-track-text-stat {
                                color: $main;
                            }

                            .order-track-text-sub {
                                color: $main;

                            }
                        }
                    }
                }

                .order-track-step:last-child .order-track-status span:last-of-type {
                    display: none;
                }
            }

            .bill-address {
                margin-bottom: 30px;

                .bill-address-user {
                    padding: 2vh;

                    h6 {
                        font-weight: 600;
                    }

                    address {
                        font-size: 14px;
                        line-height: 18px;
                        margin: 0;
                    }
                }

            }

            .order-detail-total {
                padding: 2vh;
                height: 100%;
                width: 100%;

                .order-price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 1vh;

                    span {
                        color: rgb(65, 65, 65);
                        font-size: 15px;
                    }

                    strong {
                        font-weight: 400;
                    }
                }

                .order-total {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid rgb(207, 207, 207);
                    margin-top: 5px;
                    padding-top: 5px;
                    padding: 5px 1vh 0 1vh;


                    span {
                        color: rgb(65, 65, 65);
                        font-size: 16px;
                    }

                    strong {
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
            }

            .btn.btn-cancel {
                position: relative;
                cursor: pointer;
                padding: 10px 40px;
                display: block;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 600;
                outline: none;
                position: relative;
                transition: all 0.3s;
                border-radius: 5px;
                overflow: hidden;
                border: 2px solid $main;
                color: $main;

                .fa {
                    position: absolute;
                    height: 100%;
                    color: #fff;
                    transition: all 0.3s;
                    top: 32%;
                    right: 60%;
                    opacity: 0;
                }

                &:hover {
                    background: lighten($main, 20%);
                    color: #fff;

                    .fa {
                        right: 85%;
                        opacity: 1;
                    }
                }

                &:active {
                    border-color: darken($main, 5%);
                    background: darken($main, 5%);
                    color: #fff;
                    box-shadow: none;

                    .fa {
                        color: #fff;
                    }
                }
            }
        }


        //profileindex
        .profile-index {

            h4 {
                margin: 0;
                border-bottom: 1px solid #e2e2e2;
                padding: 15px;
                margin-bottom: 20px;
                color: #333333;
                font-size: 24px;
                font-family: 'Roboto', sans-serif;

                display: flex;

                &:after {
                    content: '';
                    display: inline-flex;
                    align-self: center;
                    height: 4px;
                    width: 20%;
                    margin-left: 20px;
                    background-color: #e50914;
                    border-radius: 100px;
                }
            }


            .profileindex-address {
                border: 1px solid #e2e2e2;

                h6 {
                    display: inline-block;
                    color: #a1a1a1;
                    padding-bottom: 5px;
                    border-bottom: 2px solid #a1a1a1;
                }

                strong {
                    font-size: 20px;
                }

                p {
                    margin: 0;
                }
            }

            .profileindex-table {
                background: #fff;
                border: 1px solid #e6e6e6;


                table {
                    text-align: center;
                    width: 100%;

                    thead {
                        background: #a9a9a9;
                        color: white;

                        th {
                            font-weight: 500;
                        }

                    }

                    th {
                        font-weight: 500;
                        padding: 10px 10px !important;
                        text-align: center;
                        text-transform: capitalize;
                        vertical-align: middle;
                        white-space: nowrap;
                        font-size: 15px;
                        border: none;
                    }

                    td {
                        padding: 20px 10px;
                        vertical-align: middle;
                        font-size: 15px;

                        &.orderid {
                            span {
                                color: $main;
                                font-weight: 700;
                                font-size: 18px;
                            }
                        }

                        // &.placedon {}

                        &.image {
                            img {
                                max-width: 60px;
                            }
                        }

                        // &.product {}

                        // &.totalprice {}

                        &.m-btn {
                            .btn {
                                border: none;
                                background: $main;
                                color: #fff;
                                font-size: 13px;

                                &:hover {
                                    background: darken($main, 10%);
                                    color: lighten($main, 40%);
                                }

                                &:active,
                                &:focus {
                                    background: darken($main, 15%);
                                    color: #fff
                                }
                            }
                        }


                    }
                }

            }
        }


    }

}